extends layout

block content
  // Modal
  #register.modal.fade(tabindex='-1' role='dialog' aria-labelledby='register form' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content.bg-dark
        .modal-header.bg-secondary.text-white
          h5#exampleModalLabel.modal-title Contact Info
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body.bg-dark
          // registration Form
          form(action="/", method="post")
            .alert.alert-secondary.alert-dismissible.fade.show(role='alert')
              strong Register your email to see the Astronomy Picture of the Day directly from your inbox! 
              button.close(type='button' data-dismiss='alert' aria-label='Close')
                span(aria-hidden='true') &times;
            h5.mb-4 Basic Info
            .form-group
              label.form-control-label(for='fullName') Name:
              input#name.form-control(type='text' name="fullName" placeholder='Name' required='')
            .form-group
              label.form-control-label(for='emailAddress') Email:
              input#email.form-control(type='text' name="emailAddress" placeholder='Email' pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' required='')
            hr.mb-4
            button.btn.btn-primary(type='submit') Sign me up!
          // /registration Form
  .container.pt-5
  // about
  #about.row.justify-content-md-center
    .col-sm-6.order-lg-2
      .card.mb-3.bg-dark.text-white
        h1.mb-4.mt-5.text-center About The Final Frontier
        img.mb-4.img-fluid.rounded.d-none.d-sm-block(src='../../static/img/About_ISS.jpg' alt='ISS_Eastern_Seaboard')
        h2.mx-4.text-center.text-bold
          | The Final Frontier allows you to see 3 APIs in action.
        br
        p.mx-4
          | The first uses NASA's Picture of the Day (PotD) API. View the top-rated picture submitted daily to the space agency. You're guaranteed to be awe-struck!
        p.mx-4
          | The second is an interactive world map you can zoom and scroll through, powered by Mapbox and Leaflet map APIs.
        p.mx-4
          | The third provides the coordinates on Earth which the International Space Station (ISS) is directly above using the open-notify ISS Current Location API.
        br
        p.mx-4
          | The second and third APIs interact with each other to give you a nice visual representation of where you can see the ISS flying over Earth. How neat!
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
