extends layout

block content
  .container.pt-5
  // about
  #about.row.justify-content-md-center
    .col-sm-6.order-lg-2
      .card.mb-3.bg-dark.text-white
        h3.mb-4.my-4.text-center About The Final Frontier
        img.mb-4.img-fluid.rounded.d-none.d-sm-block(src='../../static/img/About_ISS.jpg' alt='ISS_Eastern_Seaboard')
        p
          | The Final Frontier allows you to see 3 APIs in action.
        p
          | The first is NASA's Picture of the Day (PotD). View the top-rated picture submitted daily to the space agency. You're guaranteed to be awe-struck!
        p 
          | The second is
        p
          | The third displays a map with the position on Earth which the International Space Station (ISS) is directly above! How neat!
