extends layout

block content
  // Jumbotron
  .jumbotron.jumbotron-fluid.bg-dark.text-white
    .container.text-sm-center.pt-5
      h1.display-2 The Final Frontier
      h2.lead A website dedicated to NASA's Picture of the Day and the location of the International Space Station.
  // /Jumbotron
  br
  h1.text-white.text-center Uh Oh! There was a problem loading the page!
  br
  a(href='/') CLICK HERE TO GO BACK
