extends layout

block content
  include jumbotron
  include cardcontainer
              if errors
                include errormodal
              else
                include modal  
  include bodyscripts
