// Modal
#register.modal.fade(tabindex='-1' role='dialog' aria-labelledby='register form' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content.bg-dark
      .modal-header.bg-secondary.text-white
        h5#exampleModalLabel.modal-title Contact Info
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body.bg-dark
        // registration Form
        form.needs-validation(action="/", method="post", novalidate='')
          .alert.alert-secondary.alert-dismissible.fade.show(role='alert')
            strong Register your email to see the Astronomy Picture of the Day directly from your inbox! 
            button.close(type='button' data-dismiss='alert' aria-label='Close')
              span(aria-hidden='true') &times;
          h5.mb-4.text-white Basic Info
          .form-group                          
            label.text-white.form-control-label(for='fullName') Name:
            input#name.form-control(type='text' name="fullName" placeholder='Name' required='')
            .valid-feedback
              | valid name.
            .invalid-feedback
              | Please enter a name.  
          .form-group
            label.text-white.form-control-label(for='emailAddress') Email:
            input#email.form-control(type='text' name="emailAddress" placeholder='Email' pattern='^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$' required='')
            .valid-feedback  
              | valid email.
            .invalid-feedback
              | Please input a valid email ID.
          hr.mb-4
          button.btn.btn-primary(type='submit') Sign me up!
        // /registration Form
