extends layout

block content
  .container
    .row.justify-content-md-center
      .col-sm-12
        .card.mb-3.bg-dark.text-white
          h3.my-4.text-center NASA Picture of the Day
          img#apod_img_id.card-img-top(src='reqObject' alt='...')
          p#copyright
          .card-body
            h4#apod_title.card-title
            p#apod_explaination.card-text
              | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            p.card-text
              small.text-muted Last updated 3 mins ago
